.cover {
  background-image: url('/bg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
